<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Work Calendar</title>

    <meta name="description" content="A Simple Work Day Calendar ">
    <meta name="author" content="Sri Kadimisetty">

    <!-- [Normalize](https://github.com/necolas/normalize.css) -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">

    <!-- [jQuery](http://jquery.com) -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- [pickadate.js](https://github.com/amsul/pickadate.js) -->
    <link rel="stylesheet" href="bower_components/pickadate/lib/themes/default.css">
    <link rel="stylesheet" href="bower_components/pickadate/lib/themes/default.date.css">
    <script src="bower_components/pickadate/lib/picker.js"></script>
    <script src="bower_components/pickadate/lib/picker.date.js"></script>
    <script src="bower_components/pickadate/lib/legacy.js"></script>

    <!-- [AngularJS](http://angularjs.org) -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- [Angular-LocalStorage](https://github.com/grevory/angular-local-storage) -->
    <script src="bower_components/angular-localstorage/angular-local-storage.js"></script>

    <!-- Application -->
    <script src="assets/js/app.js"></script>

    <!-- [HTML5Shiv](https://github.com/aFarkas/html5shiv) -->
    <!--[if lt IE 9]>
        <script src="components/html5shiv/html5shiv.js"></script>
        <![endif]-->

    <!-- Initiate pickadate -->
    <!--
    <script type="text/javascript">
      $(function(){$('.datepicker').pickadate({
              firstDay: 1,                  // Start week with Monday
              disable: [6,7],               // Disable weekends
              format: 'dddd, dd mmm, yyyy', // Show day before date
      })});
    </script>
    -->

</head>
<body data-ng-app="SimpleWorkCal">

<!--
<section data-ng-controller="DateCtrl">
  <fieldset>
    <input class="datepicker" type="text" name="date" data-ng-model="user.date"><br />
  </fieldset>
</section>
-->

<section data-ng-controller="DateCtrl">
  <fieldset>
    <label>Pick a date!</label>
    <input data-datepicker="chosenDate" type="text" name="date"><br />
  </fieldset>

  <h2>Tasks for {{chosenDate}}</h2>
  <ul>
    <li data-ng-repeat="task in tasks">{{task}}</li>
  </ul>


</section>

</body>
</html>

