
@peter-river: #3498db;
@clouds:#ecf0f1;
@pale-blue: #B1DCFB;
@text-color: @clouds;

@helv-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

@date-family:@helv-family;

body {
    background-color: #ddd;
    font-size: 18px;
}

#container {
    // width: 466px;
    width: 466px;
    margin: 50px auto;
    padding: 0;
}

.calendar {
    background: #eee;

    input {
        margin: 0;
        height: 4em;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        background-color:@peter-river;
        color: @text-color;
        font-size: 1.4em;
        font-family: @date-family;

        outline: none;
        &:focus {
            outline: none;
        }

        &:hover {
            background-color: lighten(@peter-river, 10%);
        }

    }
}


//Picker
.picker__holder {
    //Original Picker Holder values
/*
  position: absolute;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 176px;
  max-width: 466px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all 0.15s ease-out, max-height 0 0.15s;
  -moz-transition: all 0.15s ease-out, max-height 0 0.15s;
  transition: all 0.15s ease-out, max-height 0 0.15s;
  */

  margin: 0 auto;
  width: 466px;
}
