

// fonts
@helv-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
@avenir-family: 'Avenir Next Condensed', 'Arial Narrow', sans-serif;
@avenir-book-family: 'Avenir Book', 'Avenir Next Condensed', 'Arial Narrow', sans-serif;

@logo-font: @avenir-family;
@date-font:@avenir-book-family;
@tasks-font: @avenir-book-family;
@footer-font: @avenir-book-family;

// Colors
@pale-blue: #B1DCFB;
@import "flatcolors.less";

@body-bg: lighten(@clouds, 20%);

@tasks-color: @clouds;
@tasks-bg-color: @peter-river;
@tasks-border-color: lighten(@peter-river, 10%);

@calendar-bg: lighten(@peter-river, 5%);
@text-color: @clouds;

@logo-color: @belize-hole;
@footer-color: @peter-river;

// Sizes
@calendar-width: 466px;
// @calendar-height: 660px;

body {
    width: 466px;
    margin: 0 auto;
    background-color: @body-bg;
    // background-image: url('../img/deskbg-optimised-blue.JPG');
    background-image: url('https://raw.github.com/kadimisetty/SimpleCalendar/master/assets/img/deskbg-optimised-blue.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 10px;

    font-size: 18px;
}

#container {
    width: @calendar-width;
    margin: 50px auto;
    padding: 0;
}

.calendar {
    background: #eee;
    // height: @calendar-height;
    text-overflow: hidden;

    input.pickadate {
        padding: 1em 0;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        width: @calendar-width;
        background-color:lighten(@calendar-bg, 10%);
        color: @text-color;
        font-size: 1.4em;
        font-family: @date-font;
        font-weight: heavy;

        outline: none;
        &:focus {
            outline: none;
        }

        &:hover {
            background-color: lighten(@calendar-bg, 10%);
        }

    }
}


// pickadate's Picker Holder
.picker__holder {
    magin: 0 auto;
    width: @calendar-width;
    border: 1px solid @clouds;

}

.tasks {
    padding: 0;
    padding-top: 2em;
    margin: 0;
    background-color: @tasks-bg-color;

    .morning, .evening {
        li {
        }
    }

    .morning { float: left; }
    .evening { float: left;}

    ul {
        background-color: inherit;
        // border: 1px solid @tasks-border-color;
        margin: 0;
        padding: 0;
        width: (@calendar-width/2);
        display: block;
        float: left;
    }

    list-style: none;
    li {
        .hour{
            padding-right: 0.4em;
            color: fade(@tasks-color, 60%);
        }
        color: @tasks-color;
        background-color: inherit;
        border: 1px solid @tasks-border-color;
        height: 4em;
        text-overflow: hidden;
        display: block;
        padding: 1em;
        font-size: 0.8em;
        font-family: @tasks-font;

        &:first-child {
            border-top: 0;
        }

        &:hover {
            background-color: lighten(@tasks-bg-color, 10%);
            .hour {
                color: @tasks-color;
            }
        }
    }

}

.clear {
    clear: both;
}


footer {
    padding-top: 2em;
    color: @footer-color;
    font-family: @footer-font;
    font-size: 0.8em;
    text-align: center;
}


#logo {
        margin: 0 auto;
        margin-bottom: 146px;
        color: @logo-color;
        text-align: center;

    h1 {
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: @logo-font;
        font-weight: normal;
    }

    h2 {
        font-size: 0.8em;
        font-family: @logo-font;
        font-weight: normal;
        color: darken(@logo-color, 5%);

        // TODO: Fix bug and replace · with proper &middot;
        &:before, &:after { content:" · "; }

    }
}

