@import "flatcolors.less";
@pale-blue: #B1DCFB;
@calendar-bg: @green-sea;

@text-color: @clouds;
@helv-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
@avenir-family: 'Avenir Next Condensed', 'Arial Narrow', sans-serif;
@avenir-book-family: 'Avenir Book', 'Avenir Next Condensed', 'Arial Narrow', sans-serif;

@date-family:@helv-family;
@tasks-font: @avenir-book-family;

@calendar-width: 466px;

body {
    background-color: @silver;
    font-size: 18px;
}

#container {
    width: @calendar-width;
    margin: 50px auto;
    padding: 0;
}

.calendar {
    background: #eee;

    input {
        padding: 1em;
        margin: 0;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        background-color:@calendar-bg;
        color: @text-color;
        font-size: 1.4em;
        font-family: @date-family;

        outline: none;
        &:focus {
            outline: none;
        }

        &:hover {
            background-color: lighten(@calendar-bg, 10%);
        }

    }
}


// pickadate's Picker Holder
.picker__holder {
    magin: 0 auto;
    width: @calendar-width;
    border: 1px solid @clouds;

}

.tasks {
    padding: 0;
    margin: 0;
    background-color: @green-sea;

    .morning {
        float: left;
        padding-top: 4em;
        li {border-right: 0; }

        background-image:url('smiley.gif');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center; 
    }

    .evening {
        float: right;
        padding-top: 4em;
        li { border-left: 0; }

        background-image:url('smiley.gif');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:center; 
    }

    ul {
        background-color: inherit;
        border: 1px solid @emeralds;
        margin: 0;
        padding: 0;
        width: (@calendar-width/2) - 2;
        display: block;
        float: left;
    }

    list-style: none;
    li {
        color: @sun-flower;
        background-color: inherit;
        border: 1px solid @emeralds;
        height: 4em;
        text-overflow: hidden;
        display: block;
        padding: 0.5em;
        font-size: 0.8em;
        font-family: @tasks-font;

        &:hover {
            background-color: lighten(@green-sea, 10%);
        }
    }

}

h2 {
    text-align: center;
    font-size: 0.6em;
    font-family: @tasks-font;
}

.clear {
    clear: both;
}
